<p id="notice"><%= notice %></p>

<p>
  <strong>Tradingdate:</strong>
  <%= @trade.tradingDate %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @trade.code %>
</p>

<p>
  <strong>Tradingtype:</strong>
  <%= Trade.human_enum_name(:tradingType, @trade.tradingType) %>
</p>

<p>
  <strong>Volume:</strong>
  <%= number_with_delimiter(@trade.volume) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_with_delimiter(@trade.price) %>
</p>

<p>
  <strong>Money:</strong>
  <%= number_with_delimiter(@trade.money) %>
</p>

<p>
  <strong>Fee:</strong>
  <%= number_with_delimiter(@trade.fee) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_with_delimiter(@trade.tax) %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade), class: "btn btn-secondary" %>
<%= link_to 'Back', trades_path, class: "btn btn-primary" %>
